<html>
  <head>
    <title>Mysite</title>

  </head>

  <body>
    <%= render 'template/nav' %>



    <%= render 'template/header' %>



    <%= render 'template/aboutsection' %>



    <%= render 'template/features' %>



    <%= render 'template/how' %>



    <%= render 'template/storys' %>



    <%= render 'template/contactform' %>



    <%= render 'template/footer' %>
  </body>
</html>
